
.journey-planner {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Sidebar*/
.sidebar {
  width: 30%;
  background: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}


.route-item {
  margin-bottom: 20px;
}


.map-container {
  width: 70%;
  height: 100vh;
}

header {
  width: 100%;
  background-color: #001f4d; /* navy blue */
  color: white;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header .company-slogan {
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}

/* Footer */
footer {
  margin-top: auto;
  width: 100%;
  background-color: #000000; /* black footer */
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
}v